<%= div_for(comment) do %>
	<div class="comment-wrapper clearfix">
		<div class="pull-left">
			<p class="lead"><%= comment.body %></p>
			<p><small>Submitted <strong><%= time_ago_in_words(comment.created_at) %> ago</strong></small></p> by <%= comment.user.name %>
		</div>
	

		<div class="btn-group pull-right">
			<% if comment.user == current_user %>
				<%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure ?' }, class: "btn btn-sm btn-default" %>
			<% end %>
		</div>
	</div>
	<br>
<% end %>