<!DOCTYPE html>
<html>
<head>
  <title>Raddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    
#logo {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 15px 0;
  a {
    color: #2F363E;
  }
}

#main_content {
  #content {
    float: none;
  }
  padding-bottom: 100px;
  .link {
    padding: 2em 1em;
    border-bottom: 1px solid #e9e9e9;
    .title {

      a {
        color: #FF4500;
      }
    }
  }
  .comments_title {
    margin-top: 2em;
  }
  #comments {
    .comment {
      padding: 1em 0;
      border-top: 1px solid #E9E9E9;
      .lead {
        margin-bottom: 0;
      }
    }
  }
}

  </style>
</head>
<body>
  <header class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div id="logo" class="navbar-brand"><%= link_to "Raddit", root_path %></div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
          <% if user_signed_in? -%>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Submit link', new_link_path %></li>
              <li><%= link_to 'Account', edit_user_registration_path %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
            </ul>
          <% else -%>
            <ul class="nav navbar-nav pull-right">
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
              <li><%= link_to 'Sign in', new_user_session_path %></li>
            </ul>
          <% end -%>
        </nav>
      </div>
    </div>
  </header>

  <div id="main_content" class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

      <div id="content" class="col-md-9 center-block">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
